/* Font & colour scheme */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

:root {
    --white: #fff;
    --aubergine: #1f1d36;
    --purple: #3f3351;
    --magenta: #864879;
    --peach: #e9a6a6;
    --header-color: hsl(0, 1%, 71%);
}

/* All elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: var(--header-color);
    letter-spacing: 0.5px;
}

p, li, a {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    background-color: var(--white);
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

h1 {
    display: inline-block;
}

ul {
    width: 30vw;
    display: flex;
    justify-content: space-around;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--magenta);
    font-weight: 500;
}

a:hover {
    font-weight: 700;
}

/* Introduction */
#heroSection {
    background-color: var(--aubergine);
}

#heroInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 50px 300px;
}

#heroInfo img {
    width: 20%;
}

#bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    justify-content: space-around;
    color: var(--white);
}

h2 {
    font-size: 50px;
    color: var(--white);
}

#resume i {
    font-size: 16px;
}

/* Main sections */
main section {
    min-height: 250px;
    padding: 50px 80px;
}

/* Main */
h3 {
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-align div {
    display: flex;
    justify-content: space-between;
}

.section-summary {
    width: 75%;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    border-right: 3px solid var(--magenta);
    padding: 60px;
    width: 20vw;
    text-align: center;
    text-wrap: wrap;
}

/* Main Skills */
#skill-grid {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    justify-items: center;
    align-items: center;
}

#skill-grid div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#skill-grid div p {
    text-align: center;
}

i {
    font-size: 60px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--magenta);
}

/* Main My Work */
#work-grid {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 500px 300px;
    grid-template-areas:
        "proj1 proj1 proj1"
        "proj2 proj3 proj4"
    ;
    gap: 20px;
}

#proj1 {
    grid-area: proj1;
    background-image: url('../assets/blog.png');
}

#proj2 {
    grid-area: proj2;
    background-image: url('../assets/budget.png');
}

#proj3 {
    grid-area: proj3;
    background-image: url('../assets/horiseon.png');
}

#proj4 {
    grid-area: proj4;
    background-image: url('../assets/prework.png');
}

.project {
    background-color: var(--purple);
    justify-content: space-around;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid var(--aubergine);
}

.project-card-title {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 25%;
    width: 100%;
    top: 218px;
    background-color: var(--aubergine);
    padding: 10px 15px;
}

.project-card-title h4, .project-card-title p {
    color: var(--white);
}

.project-card-title a, #resume {
    color: var(--peach);
}

.main {
    height: 16%;
    width: 100%;
    top: 411.4px;
}

/* Main Contact */
#contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
}

.icon {
    padding-bottom: 20px;
}

.social i {
    font-size: 30px;
    padding-bottom: 5px;
}

/* Footer */
footer div {
    background-color: var(--purple);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

h5 {
    font-size: 25px;
}

footer div p {
    font-size: 18px;
    padding-top: 5px;
}